@page 
@model SharkGaming.Pages.AdminSite.AdminMainPageModel
@{
}

<div class="column col-4">
    <table class="table table-bordered border-black align-content-start bg-dark text-white">
        <thead>
            <tr>
                <th>
                    Lists for Products types
                </th>
                <th>
                    Update
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    RAM
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminRAMListPage"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>