@page
@model SharkGaming.Pages.AdminSite.AdminSolidStateDriveListPageModel
@{
}

<table class="table table-bordered border-black bg-dark text-white">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Name
			</th>
			<th>
				Price
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.solidStateDrives != null)
		{
			foreach (var item in Model.solidStateDrives)
			{
				<tr class="btn-secondary">
					<td>
						@item.Id
					</td>
					<td>
						@item.Name
					</td>
					<td>
						@item.Price
					</td>
					<td>
						<a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="AdminSolidStateDriveEdit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<div>
    <a asp-page="/AdminSite/AdminMainPage">Back to List</a>
</div>