html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: rgb(111,142,255);
    background: radial-gradient(circle, rgba(111,142,255,0.861782212885154) 9%, rgba(13,41,185,1) 49%, rgba(0,2,18,1) 97%);
}
footer{
    background-color: white;
}
