html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: rgb(46,127,139);
    background: linear-gradient(90deg, rgba(46,127,139,1) 0%, rgba(39,39,194,1) 47%, rgba(136,27,173,1) 100%);
}
footer{
    background-color: white;
}
