@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:white">Welcome to Sharkgaming</h1>
</div>

<div class="row">
        <img src="~/images/index images/plugandplay.jpg" style="width:33%" />
        <img src="~/images/index images/buildyourownpc.jpg" style="width:33%"/>
        <img src="~/images/index images/timetoupgrade.jpg" style="width:33%" />
    </div>
