@page 
@model SharkGaming.Pages.TestSite.AdminModel
@{
}
<form method="post">
    <div class="form-group">
        <label asp-for="ram.Name" class="control-lable"></label>
        <input asp-for="ram.Name" class="form-control" />
        <span asp-validation-for="ram.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ram.Price" class="control-lable"></label>
        <input asp-for="ram.Price" class="form-control" />
        <span asp-validation-for="ram.Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>*

<div>
    <a asp-page="/Index">Back to List</a>
</div>
