@page
@using SharkGaming.Products
@model SharkGaming.Pages.TestSite.TestRoomModel
@{
}

<div class="text-center">
    <h1 style="color:white">Components</h1>
</div>

<br />

@*Table List for testing. For at komme ind til listen components har vi prikket os igennem TestSite/TestRoomModel for at komme ind til listen som hedder "components." *@
<table class="table table-bordered bg-dark text-white">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody class="hoverTable">
        @if (Model.components != null)
        {
            foreach (var item in Model.components)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

