@page
@using SharkGaming.Products
@model SharkGaming.Pages.TestSite.TestRoomModel
@{
}
<h1>Components</h1>
@*Table List for testing. For at komme ind til listen components har vi prikket os igennem TestSite/TestRoomModel for at komme ind til listen som hedder "components." *@
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @if (TestSite.TestRoomModel.components != null)
        {
            foreach (var item in TestSite.TestRoomModel.components)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

