@page 
@model SharkGaming.Pages.OrderInfoPages.OrderItemsPageModel
@{
}

<form method="post">
    <table class="table table-bordered table-hover table-striped table-opacity" width="60%">
        <col style="width: 5%" />
        <col style="width: 77%" />
        <col style="width: 9%" />
        <col style="width: 9%" />
        <thead>
            <tr class="btn-secondary active">
                <th>
                    Id
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Price
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model._orderItems != null)
            {
                foreach (var item in Model._orderItems)
                {
                    <tr class="btn-secondary">
                        <td>
                            @item.ProductId
                        </td>
                        <td>
                            @item.Amount
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            <input type="submit" asp-page-handler="DeleteFromCart" asp-route-id="@item.ProductId" value="Delete" class="btn btn-danger" />
                        </td>
                        <td>
                            <input type="hidden" asp-for="productId"/>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>

