@page
@model SharkGaming.Pages.Fuckmig.EasterEggModel
@{
}


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="container mt-3">
        <div class="mt-4 p-5 bg-dark text-white rounded">
            <h1>Say hello to the DEV Team</h1>
            <h1>Truels, Nuggit, Pikkel, Nikita & Tølløse</h1>
            <p>when we wrote this program only we and god knew what we where doing, now only god knows</p>
        </div>
    </div>

</body>
</html>