@page
@model SharkGaming.Pages.ProductInfoPages.PreBuildListPageModel
@{
}

<div class="text-center">
    <h1 style="color:white">Pre-Builds</h1>
</div>

<br />

<div class="row center">
    <div class="column col-12 center columnCustom">

        <div>
            <a href="#" class="btn btn-dark">
                <h1 class="text-center">
                    Name
                </h1>

                <img src="~/Images/Components/Case1.png" class="img-fluid" />
                <br />
                Desciption
                <br />

                <h1 class="text-orange">
                    Price
                </h1>
            </a>
            <a class="btn btnGreen" style="width:100%">Add to cart</a>
        </div>
        <br />

        <div>
            <a href="#" class="btn btn-dark">
                <h1 class="text-center">
                    Name
                </h1>

                <img src="~/images/Components/Case1.png" class="img-fluid" />
                <br />
                Desciption
                <br />

                <h1 class="text-orange">
                    Price
                </h1>
            </a>
            <a class="btn btnGreen" style="width:100%">Add to cart</a>
        </div>
        <br />

        <div>
            <a href="#" class="btn btn-dark">
                <h1 class="text-center">
                    Name
                </h1>

                <img src="~/images/Components/Case1.png" class="img-fluid" />
                <br />
                Desciption
                <br />

                <h1 class="text-orange">
                    Price
                </h1>
            </a>
            <a class="btn btnGreen" style="width:100%">Add to cart</a>
        </div>
        <br />

    </div>
</div>