@page
@model SharkGaming.Pages.ProductInfoPages.ProductListPageModel
@{
}

<div class="text-center">
    <h1 style="color:white">Products</h1>
</div>

<br />

<div class="row center">
    
    <div class="column col-4">
        <table class="table table-bordered table-hover align-content-start bg-light">
            <tr>
                <th>Filters</th>
            </tr>
            <tr>
                <td>Price filter</td>
            </tr>
            <tr>
                <td>RGB</td>
            </tr>
        </table>
    </div>

    <div class="column col-4 text-center">
        <h3 style="color:white">product1</h3>
    </div>

    <div class="column col-4 text-center">
        <h3 style="color:white">product2</h3>
    </div>

</div>