@page
@model SharkGaming.Pages.ProductInfoPages.ProductListPageModel
@{
}

<h1>Products</h1>

<div class="row text-center">
    <div class="column col-4">
        <img src="~/Images/TestImage.jpg" style="width:70%" />
    </div>
    <div class="column col-8">
        <h3 style="color:white">Description</h3>
        <p style="color:white">hbonsdpklæ hfbvnn nlmd hsiN V VJKMLA, hjvbknl vdjnfklsæv jvbslækm jheiw jvbnsælmdej hvdn djnckndvkdsm vskdvmdj kdlmskæksd v dknvmf,an vmndcv ojvmsm vf bjvæl cn ovhlndnv lknsdcad vhdf dm kdsncncn dv</p>
        <a class="btn btn-danger">Add to cart</a>
    </div>
</div>