@page
@model SharkGaming.Pages.ProductInfoPages.ProductListPageModel
@{
}

<div class="text-center">
    <h1 style="color:white">Products</h1>
</div>

<br />

<div class="row center">
    
    <div class="column col-4">
        <table class="table table-bordered border-black align-content-start bg-dark text-white">
            <thead>
                <tr>
                    <th>Filters</th>
                </tr>
            </thead>
            <tbody class="hoverTable">
                <tr>
                    <td>Price filter</td>
                </tr>
                <tr>
                    <td>RGB</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="column col-8 center">
        <div class="column columnCustom">

            <div>
                <a href="/ProductInfoPages/ComponentInfoPages/CasePage1" class="btn btn-dark">
                    <h1 class="text-center">Shark Gaming Aquarium</h1>
                    <img src="~/images/Case1.jpg" class="img-fluid" />
                    <br />
                    Very super cool RGB dickladon gaming case.
                </a>
                <a class="btn btnGreen" style="width:100%">Add to cart</a>
            </div>
            <br />

            <div>
                <a href="/ProductInfoPages/ComponentInfoPages/Test" class="btn btn-dark">
                    <h1 class="text-center">Product Name</h1>
                    <img src="~/images/testimage.jpg" class="img-fluid" />
                    <br />
                    jhfdknlsm v jnsdlksfv  enfljv dknakhbskd,m dnfioenfnflkmlks vkns amsjd vk.
                </a>
                <a class="btn btnGreen" style="width:100%">Add to cart</a>
            </div>
            <br />

            <div>
                <a href="/ProductInfoPages/ComponentInfoPages/Test" class="btn btn-dark">
                    <h1 class="text-center">Product Name</h1>
                    <img src="~/images/testimage.jpg" class="img-fluid" />
                    <br />
                    jhfdknlsm v jnsdlksfv  enfljv dknakhbskd,m dnfioenfnflkmlks vkns amsjd vk.
                </a>
                <a class="btn btnGreen" style="width:100%">Add to cart</a>
            </div>
            <br />

            <div>
                <a href="/ProductInfoPages/ComponentInfoPages/Test" class="btn btn-dark">
                    <h1 class="text-center">Product Name</h1>
                    <img src="~/images/testimage.jpg" class="img-fluid" />
                    <br />
                    jhfdknlsm v jnsdlksfv  enfljv dknakhbskd,m dnfioenfnflkmlks vkns amsjd vk.
                </a>
                <a class="btn btnGreen" style="width:100%">Add to cart</a>
            </div>
            <br />

            <div>
                <a href="/ProductInfoPages/ComponentInfoPages/Test" class="btn btn-dark">
                    <h1 class="text-center">Product Name</h1>
                    <img src="~/images/testimage.jpg" class="img-fluid" />
                    <br />
                    jhfdknlsm v jnsdlksfv  enfljv dknakhbskd,m dnfioenfnflkmlks vkns amsjd vk.
                </a>
                <a class="btn btnGreen" style="width:100%">Add to cart</a>
            </div>
            <br />

        </div>
    </div>
</div>