@page
@model SharkGaming.Pages.ProductInfoPages.ProductListPageModel
@{
}

<div class="text-center">
    <h1 style="color:white">Products</h1>
</div>

<br />

<div class="row center">
    
    <div class="column col-4">
        <table class="table table-bordered border-black align-content-start bg-dark text-white">
            <thead>
                <tr>
                    <th>Filters</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Price filter</td>
                </tr>
                <tr>
                    <td>
                        <form action="/action_page.php">
                            <input type="checkbox" id="rgbFilter" name="RGB" value="RGB">
                            <label for="RGB"> RGB</label><br>
                            <input type="checkbox" id="intelCompFilter" name="Intel Compatible" value="AMD">
                            <label for="intelCompFilter"> Intel Compatible</label><br>
                            <input type="checkbox" id="amdCompFilter" name="AMD Compatible" value="Intel">
                            <label for="amdCompFilter"> AMD Compatible</label><br>

                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Filter">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="column col-8 center">
        <div class="column columnCustom">

            <div>
                <a href="/ProductInfoPages/ComponentInfoPages/CasePage1" class="btn btn-dark">
                    <h1 class="text-center">Shark Gaming Aquarium</h1>
                    <img src="~/images/Components/Case1.png" class="img-fluid" />
                    <br />
                    Very super cool RGB dickladon gaming case.
                </a>
                <a class="btn btnGreen" style="width:100%">Add to cart</a>
            </div>
            <br />

            <div>
                <a href="/ProductInfoPages/ComponentInfoPages/Test" class="btn btn-dark">
                    <h1 class="text-center">Product Name</h1>
                    <img src="~/images/testimage.jpg" class="img-fluid" />
                    <br />
                    jhfdknlsm v jnsdlksfv  enfljv dknakhbskd,m dnfioenfnflkmlks vkns amsjd vk.
                </a>
                <a class="btn btnGreen" style="width:100%">Add to cart</a>
            </div>
            <br />

            <div>
                <a href="/ProductInfoPages/ComponentInfoPages/Test" class="btn btn-dark">
                    <h1 class="text-center">Product Name</h1>
                    <img src="~/images/testimage.jpg" class="img-fluid" />
                    <br />
                    jhfdknlsm v jnsdlksfv  enfljv dknakhbskd,m dnfioenfnflkmlks vkns amsjd vk.
                </a>
                <a class="btn btnGreen" style="width:100%">Add to cart</a>
            </div>
            <br />

            <div>
                <a href="/ProductInfoPages/ComponentInfoPages/Test" class="btn btn-dark">
                    <h1 class="text-center">Product Name</h1>
                    <img src="~/images/testimage.jpg" class="img-fluid" />
                    <br />
                    jhfdknlsm v jnsdlksfv  enfljv dknakhbskd,m dnfioenfnflkmlks vkns amsjd vk.
                </a>
                <a class="btn btnGreen" style="width:100%">Add to cart</a>
            </div>
            <br />

            <div>
                <a href="/ProductInfoPages/ComponentInfoPages/Test" class="btn btn-dark">
                    <h1 class="text-center">Product Name</h1>
                    <img src="~/images/testimage.jpg" class="img-fluid" />
                    <br />
                    jhfdknlsm v jnsdlksfv  enfljv dknakhbskd,m dnfioenfnflkmlks vkns amsjd vk.
                </a>
                <a class="btn btnGreen" style="width:100%">Add to cart</a>
            </div>
            <br />

        </div>
    </div>
</div>