@page
@model SharkGaming.Pages.ProductInfoPages.ProductListPageModel
@{
}

<div class="text-center">
    <h1 style="color:white">Products</h1>
</div>

<br />

<div class="row center">
    
    <div class="column col-4">
        <table class="table table-bordered table-hover align-content-start bg-light">
            <tr>
                <th>Filters</th>
            </tr>
            <tr>
                <td>Price filter</td>
            </tr>
            <tr>
                <td>RGB</td>
            </tr>
        </table>
    </div>



    <div class="column col-4 text-center">
        <a href="/ProductInfoPages/ComponentInfoPages/Test" class="btn btn-light">
            <h1 class="text-center">Product Name</h1>
            <br />
            <img src="~/images/testimage.jpg" class="img-fluid" />
            <br />
            jhfdknlsm v jnsdlksfv  enfljv dknakhbskd,m dnfioenfnflkmlks vkns amsjd vk.
            <br />
            <a class="btn btnGreen" style="width:100%">Add to cart</a>
        </a>

        <a href="/ProductInfoPages/ComponentInfoPages/Test" class="btn btn-light">
            <h1 class="text-center">Product Name</h1>
            <br />
            <img src="~/images/testimage.jpg" class="img-fluid" />
            <br />
            jhfdknlsm v jnsdlksfv  enfljv dknakhbskd,m dnfioenfnflkmlks vkns amsjd vk.
            <br />
            <a class="btn btnGreen" style="width:100%">Add to cart</a>
        </a>
    </div>



    <div class="column col-4 text-center">
        <a href ="/ProductInfoPages/ComponentInfoPages/Test" class="btn btn-light">
            <h1 class="text-center">Product Name</h1>
            <br />
            <img src="~/images/testimage.jpg" class="img-fluid" />
            <br />
            jhfdknlsm v jnsdlksfv  enfljv dknakhbskd,m dnfioenfnflkmlks vkns amsjd vk.
            <br />
            <a class="btn btnGreen" style="width:100%">Add to cart</a>
        </a>
        
        <a href="/ProductInfoPages/ComponentInfoPages/Test" class="btn btn-light">
            <h1 class="text-center">Product Name</h1>
            <br />
            <img src="~/images/testimage.jpg" class="img-fluid" />
            <br />
            jhfdknlsm v jnsdlksfv  enfljv dknakhbskd,m dnfioenfnflkmlks vkns amsjd vk.
            <br />
            <a class="btn btnGreen" style="width:100%">Add to cart</a>
        </a>
    </div>
</div>