@page
@model SharkGaming.Pages.ProductInfoPages.SearchProductsPageModel
@{
}

<h1 class=" text-white">Search All Products</h1>
<br />
<form method="post" class="form-inline">
    <input asp-for="SearchString" class="form-control mr-1" placeholder="Enter search term" />
    <br />
    <input type="submit" asp-page-handler="NameSearch" value="Search" class="btn btn-dark" />
</form>
<br />

<table class="table table-hover table-striped">
    <thead>
        <tr class="bg-dark text-white">
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items != null)
        {
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td class="text-white">
                        @item.Id
                    </td>
                    <td class="text-white">
                        @item.Name
                    </td>
                    <td class="text-white">
                        @item.Price
                    </td>
                    <td>                      
                       @if(item.Id == 0)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/CasePage1"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                        @if (item.Id == 1)
                        {
                            <a href="/ProductInfoPages/ComponentInfoPages/CasePage2"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                        }
                        @if(item.Id == 2)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/CasePage3"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                        @if (item.Id == 3)
                        {
                            <a href="/ProductInfoPages/ComponentInfoPages/CaseFanPage1"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                        }
                        @if(item.Id == 4)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/CaseFanPage2"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 5)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/CaseFanPage3"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 6)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/CpuAirCoolingPage1"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 7)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/CpuAirCoolingPage2"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 8)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/CpuAirCoolingPage3"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 9)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/CpuWaterCoolingPage1"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 10)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/CpuWaterCoolingPage2"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 11)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/CpuWaterCoolingPage3"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 12)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/CpuPage1"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                        @if (item.Id == 13)
                        {
                            <a href="/ProductInfoPages/ComponentInfoPages/CpuPage2"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                        }
                        @if (item.Id == 14)
                        {
                            <a href="/ProductInfoPages/ComponentInfoPages/CpuPage3"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                        }
                        @if (item.Id == 15)
                        {
                            <a href="/ProductInfoPages/ComponentInfoPages/GpuPage1"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                        }
                        @if(item.Id == 16)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/GpuPage2"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 17)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/GpuPage3"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 18)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/MotherboardPage1"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 19)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/MotherboardPage2"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 20)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/MotherboardPage3"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 21)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/PowerSupplyPage1"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 22)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/PowerSupplyPage2"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 23)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/PowerSupplyPage3"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 24)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/RamPage1"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 25)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/RamPage2"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 26)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/RamPage3"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 27)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/Mdot2Page1"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                       @if(item.Id == 28)
                       {
                            <a href="/ProductInfoPages/ComponentInfoPages/Mdot2Page2"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                       }
                        @if (item.Id == 29)
                        {
                            <a href="/ProductInfoPages/ComponentInfoPages/Mdot2Page3"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                        }
                        @if (item.Id == 30)
                        {
                            <a href="/ProductInfoPages/ComponentInfoPages/SsdPage1"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                        }
                        @if (item.Id == 31)
                        {
                            <a href="/ProductInfoPages/ComponentInfoPages/SsdPage2"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                        }
                        @if (item.Id == 32)
                        {
                            <a href="/ProductInfoPages/ComponentInfoPages/SsdPage3"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                        }
                        @if (item.Id == 33)
                        {
                            <a href="/ProductInfoPages/PrebuildInfoPages/Prebuild1InfoPage1"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                        }
                        @if (item.Id == 34)
                        {
                            <a href="/ProductInfoPages/PrebuildInfoPages/Prebuild1InfoPage2"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                        }
                        @if (item.Id == 35)
                        {
                            <a href="/ProductInfoPages/PrebuildInfoPages/Prebuild1InfoPage3"> <input class="btn btn-dark" type="submit" value="More info"> </a>
                        }

                        
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
   