@page
@model SharkGaming.Pages.ProductInfoPages.ComponentInfoPages.CasePage1Model
@{
}

<div class="text-center">
    <h1 style="color:white">TestProductName</h1>
</div>

<br />

<div class="row text-center">
    <div class="column col-6">
        <img src="~/Images/TestImage.jpg" style="width:70%" />
    </div>
    <div class="column col-6">
        <h3 style="color:white">Description</h3>
        <p style="color:white">hbonsdpklæ hfbvnn nlmd hsiN V VJKMLA, hjvbknl vdjnfklsæv jvbslækm jheiw jvbnsælmdej hvdn djnckndvkdsm vskdvmdj kdlmskæksd v dknvmf,an vmndcv ojvmsm vf bjvæl cn ovhlndnv lknsdcad vhdf dm kdsncncn dv</p>
        <a class="btn btn-danger">Add to cart</a>
    </div>
</div>

<br />

<table class="table table-bordered table-hover table-striped center bg-light" style="width:85%">
    <tr>
        <th style="width:50%">Specification</th>
        <th style="width:50%">Info</th>
    </tr>
    <tr>
        <td>navn</td>
        <td>info</td>
    </tr>
</table>
