@page
@model SharkGaming.Pages.ProductInfoPages.ComponentInfoPages.CasePage1Model
@{
}

<div class="text-center">
    <h1 style="color:white">Shark Gaming Aquarium</h1>
</div>

<br />
<form method="post">
    <div class="row text-center">
        <div class="column col-6">
            <img src="~/Images/Components/Case1.png" style="width:65%" />
        </div>
        <div class="column col-6">
            <h3 style="color:white">Description</h3>
            <p style="color:white">SharkGaming aquarium is a case that allows you to connect to the motherboard and control RGB through the software</p>
            <h1 style="color:white">Price: 999</h1>
            <div class="form-group">
                <input type="submit" value="Add To Cart" class="btn btnGreen">
            </div>
        </div>
    </div>
</form>


<br />

<table class="table table-bordered border-black center bg-dark text-white" style="width:85%">
    <thead>
        <tr>
            <th style="width:50%">Specification</th>
            <th style="width:50%">Info</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>navn</td>
            <td>info</td>
        </tr>
    </tbody>
</table>
