@page
@model SharkGaming.Pages.ProductInfoPages.ComponentInfoPages.TestModel
@{
}

<div class="text-center">
    <h1>TestProductName</h1>
</div>

<br />

<div class="row">
   <div class="column col-2"></div>
    <div class="column col-4">
        <img src="~/Images/TestImage.jpg"/>
    </div>
    <div class="column col-4">
        <h3>Specifications</h3>
        <p>hbonsdpklæ hfbvnn nlmd hsiN V VJKMLA, hjvbknl vdjnfklsæv jvbslækm jheiw jvbnsælmdej hvdn djnckndvkdsm vskdvmdj kdlmskæksd v dknvmf,an vmndcv ojvmsm vf bjvæl cn ovhlndnv lknsdcad vhdf dm kdsncncn dv</p>
    </div>
    <div class="column col-2"></div>
</div>


